@font-face {
    font-family: "meowScript";
    src: url(./MeowScript-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'YuanTi';
    src: url(./975MaruSC-Medium.ttf) format("truetype");
}